<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' type='text/css' href='/static/styles/styels2.css'>

  <title>blood donation</title>
  <body>

    <div class="topnav">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <img src="https://c.top4top.net/p_10822od581.png" width="195px" height="115px" alt=""> 
       
    <div class="nav-right">
        <img class="pad" src="https://cdn.iconscout.com/icon/free/png-256/bulding-home-house-address-homepage-page-1-2761.png" width="80px" height="80px" alt=""> 
        <img class="pad" src="https://image.flaticon.com/icons/png/128/98/98726.png" width="80px" height="80px" alt=""> 
        <img  class="pad" src="http://www.be-wear.com/images/about-us-icon.png" width="80px" height="80px" alt=""> 



    </div>
    

    
    </div>
    

    <div id="con">
     <h1>Give Blood</h1>
      <b class="lives" ><P class="pl" >Donating Blood Makes a Big Difference in the Lives of Others. </b></P>
      </div>
    
    </div>
    
    <div class="im">


        <div class="image1"> 
              <a href="/blood/search"> <img src="https://e.top4top.net/p_108214htx2.png" alt=""></a>  
                    <b class="pl"> <p class="pl">Search Donors </p></b>
          </div>
            <div class="image2"> 
              <a href="/blood/new"> <img src="https://d.top4top.net/p_1082zzenw1.png" alt=""></a>  
                    <b class="pl"> <p class="pl">Donor</p></b>
            </div>
    
    
    </div>
    <footer>
    </footer>
    
    </body>
    

</body>

</html>